*.jpg
model.*
assets/*
!assets/examples/
node_modules/
.build/
.cache/
static/blocksStates/
static/textures/
package-lock.json

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.tmp
.DS_Store
.idea/
.vscode/

tmp/
selected-paths.txt
outputs/
